html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Puts nav into flex, putting logo on the left and buttons on the right. Establishes a background color, and anchors bar to the top. */
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(146, 100, 108);
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

/* Organizes navigation elements */
ul, h1 {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

/* Separates text of menu items */
nav a { margin: 10px; }