@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}

/* Task 3 */

.container {
  height: 96vh;
  width: 100;
  display: grid;
  grid-template: 1fr 1fr 6fr 6fr 1fr / repeat(5, 1fr);
  gap: 2vh;
  margin: 2vh;
}

.header { grid-area: 1 / 1 / span 1 / span 5; }
.navigation { grid-area: 2 / 2 / span 1 / span 3; }
.ads { grid-area: 2 / 5 / span 3 / span 1; }
.sidebar { grid-area: 2 / 1 / span 3 / span 1; }
.main { grid-area: 3 / 2 / span 2 / span 3; }
.footer { grid-area: 5 / 1 / span 1 / span 5; }

/* Tablet */
@media (max-width: 1020px) {

  .container {
    height: 96vh;
    width: 100;
    display: grid;
    grid-template: 1fr 1fr 6fr 6fr 1fr / 1fr 4fr;
    gap: 2vh;
    margin: 2vh;
  }

  .header { grid-area: 1 / 1 / span 1 / span 2; }
  .navigation { grid-area: 2 / 1 / span 1 / span 2; }
  .ads { grid-area: 5 / 1 / span 1 / span 1; }
  .sidebar { grid-area: 3 / 1 / span 2 / span 1; }
  .main { grid-area: 3 / 2 / span 2 / span 1; }
  .footer { grid-area: 5 / 2 / span 1 / span 1; }

}

/* Mobile Phone */
@media (max-width: 720px) {

  .container {
    height: 96vh;
    width: 100;
    display: grid;
    grid-template: 1fr 1fr 12fr 1fr 1fr 1fr / 1fr;
    gap: 2vh;
    margin: 2vh;
  }

  .header { grid-area: 1 / 1 / span 1 / span 1; }
  .navigation { grid-area: 2 / 1 / span 1 / span 1; }
  .ads { grid-area: 5 / 1 / span 1 / span 1; }
  .sidebar { grid-area: 4 / 1 / span 1 / span 1; }
  .main { grid-area: 3 / 1 / span 1 / span 1; }
  .footer { grid-area: 6 / 1 / span 1 / span 1; }

}