body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    /* you will add addition rules for the container here  */
    /* Creates a 5x5 grid */
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

/* create your child rules here:  */

/* Centers text for items, applies a border and background colour. */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 1px black solid;
}

/* Allocates grid space to items */
.item-1 { grid-area: 1 / 1 / span 1 / span 3; }
.item-2 { grid-area: 2 / 3 / span 1 / span 3; }
.item-3 { grid-area: 3 / 1 / span 1 / span 3; }
.item-4 { grid-area: 4 / 3 / span 1 / span 3; }
.item-5 { grid-area: 5 / 1 / span 1 / span 3; }


